*.aux

*.log

*.out

*.gz

*.bbl

*~

*.blg
*.fdb_latexmk
*.fls

Latex/CompatibleEmbeddings.aux

Latex/CompatibleEmbeddings.log

Latex/CompatibleEmbeddings.out

Latex/CompatibleEmbeddings.pdf

Latex/CompatibleEmbeddings.synctex.gz

SODA/SODACompatibleEmbeddings.pdf
