*.aux

*.log

*.out

*.pdf

*.gz

*.bbl
Latex/CompatibleEmbeddings.aux

Latex/CompatibleEmbeddings.log

Latex/CompatibleEmbeddings.out

Latex/CompatibleEmbeddings.pdf

Latex/CompatibleEmbeddings.synctex.gz
